@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');

body {
    background-image: linear-gradient(to right, #603F83FF, rgb(113, 155, 223));
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar .bigpicture {
        background-color: red;
}
.navbar .shallowglance {
        background-color: red;
}
.navbar .deepdive {
        background-color: red;
}
.navbar .help {
        background-color: red;
}
.navbar ul {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-between;
}

.navbar li a {
    display: block;
    color: white;
    padding: 14px 100px;
    text-decoration: none;
    font-size: 2.5em;
}
.navbar li a:hover {
    color: rgb(118, 230, 118);
}

.homepagehero {
    text-align: center;
}

.homepagehero .update {
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	letter-spacing: .2em;
	margin-bottom: 1em;
}
.homepagehero img {
	margin-top: 3em;
	width: 20%;
}
.homepagehero h1 {
	font-size: 3em;
	line-height: 1.3em;
	color: white;
}
.homepagehero h4 {
	margin-bottom: 5em;
	font-size: 1.5em;
	color: white;
}
.homepagehero .primary-cta {
	background: green;
	color: white;
	text-decoration: none;
	padding: .6em 1.3em;
	font-size: 2.5em;
	border-radius: 5em;
	font-weight: bold;
	display: inline-block;
}
.homepagehero .primary-cta:hover {
	background-color: rgb(118, 230, 118);
}

