@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap");
/* VIEW PORT */
html, body {
    height: 100%;
}
/* FONTS */
:root {
    --mainfont: 'Poppins', Helvetica, Arial, sans-serif;
    --secondaryfont: sans-serif;
}
html,
button {
    font-family: var(--mainfont);
    font-size: 10px;
}
/* BOX SIZING */
*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/* SCROLL */
html {
    scroll-behavior: smooth;
}
/* COLORS & PIXELS*/
:root {
    --e3: #e3e3e3;
    --c4: #c4c4c4;
    --zero: #000000;
    --grey76: #767676;
    --yellow: #f0cd02;
    --darkgrey: #2F353F;
    --red: #e41414;
    /* Select */
    --radius: 0.25rem;
    --baseFg: #2f353f;
    --baseBg: rgb(142 173 228);
    --accentFg: #006fc2;
    --accentBg: #bae1ff;
}
/* :root.darkmode {
    --bg: var(--zero);
    --fg: #ffff00;
} */
body {
    background-color: var(--darkgrey);
    color: var(--c4);
}

/* TOPNAV */
.nav-topnav {
    background: var(--zero);
    display: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    border-bottom: 1px solid var(--zero);
    box-shadow: rgb(104 130 175) 0px 3px 12px 0px, rgb(140 162 206) 0px -3px 6px 0px;

}
.ul-topnav {
    background: green;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
}
.a-topnav {
    background: var(--c4);
    color: var(--zero);
    font-size: 3rem;
    text-align: center;
    line-height: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-right: 1px solid var(--zero);
}
.no-right-border {
    border-right: none;
}
.a-topnav:hover {
    background: var(--grey76);
    color: var(--e3);
    font-weight: bold;
}
.a-topnav-highlight {
    background: var(--grey76);
    color: var(--e3);
}
/* MAIN */
main {
    top: 10vh;
    height: 90vh
}
/* H1 */
h1 {
    font-size: 6.5rem;
    text-align: center;
    padding: 3rem 0;
    color: var(--e3);
}

/* GLOBE */
/* .div-globe {
} */
img {
    max-width: 15vh;
    display: block;
    margin: 0 auto;
    height: auto;
}

/* FACTS */
.div-facts {
    padding: 3rem 0;
}
.p-fact {
    margin: 0 auto;
    width: 80vw;
    max-width: 550px;
    font-size: 1.75rem;
    text-align: justify;
    color: var(--c4);
    padding: 1.5rem 1rem;
    line-height: 2rem;
}
.span-highlight {
    font-weight: bold;
    font-size: 2rem;
    color: var(--yellow);
}
.div-small {
    margin: 0 auto;
    width: 80vw;
    max-width: 550px;
    padding: 1.5rem 1rem;
    color: var(--grey76);
}
/* DEATHS */
/* SECTION */
.section-deaths {
    display: flex;
    flex-flow: row wrap;
}
/* DIV HALF WIDTH */
.div-halfwidth {
    max-width: 500px;
    width: 50vw;
    background: var(--darkgrey);
    margin: 0 auto;
}
/* FORM */
form {
    margin: 0 auto;
}
/* SELECT */
select {
    font: 400 1.8rem/1.3 sans-serif;
    -webkit-appearance: none;
    appearance: none;
    color: var(--baseFg);
    border: 1px solid var(--baseFg);
    line-height: 2rem;
    outline: 0;
    padding: 0.65rem 2.5rem 0.55rem 1rem;
    border-radius: var(--radius);
    background-color: var(--baseBg);
    background-image: linear-gradient(var(--baseFg), var(--baseFg)),
      linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
      linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
      linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
    background-position: right 20px center, right bottom, right bottom, right bottom;
    margin: 0 auto;
    width: 62%;
    display: block;
}
select:hover {
background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
}
select:active {
background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
color: var(--accentBg);
border-color: var(--accentFg);
background-color: var(--accentFg);
}
/* H3 */
h3 {
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
}
/* Pararaph */
.p-peak {
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
}
/* DATES */
.div-dates {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5rem;
}
.input-date {
    height: 3rem;
    font-size: 1.7rem;
    color: var(--red);
    font-weight: 400;
    padding-left: 0.5rem;
    padding-top: 0;
    margin-right: 0;
    width: 30%;
    border-radius: 0.25rem;
    background: var(--e3);
}
.input-from-date {
    margin-right: 1rem;
}
/* DEATH / RATIO */
.section-death-ratio {
    display: flex;
    justify-content: center;
}
.div-death {
    width: 50%;
}
.div-ratio{
    width: 50%;
}
h4 {
    text-align: center;
    font-size: 2rem;
    margin-top: 0.5rem;
}
.span-highlight2 {
    color: var(--red);
}
/* LINE */
.div-line {
    position: fixed;
    width: 1px;
    border: 1px solid var(--grey76);
    height: 55vh;
    top: 30vh;
    /* transform: translateX(-50%), translateY(-50%); */
    left: 50vw;
}
/* GLOBAL */
.h3-global {
    margin-top: 0;
}
/* TABLE */
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
    margin-top: 2rem;
    font-size: 2rem;
}
td {
    padding: 0.5rem;
}
.btn-th {
    display: table-cell;
    padding: 0.5rem;
    width: 100%;
    font-size: 2rem;
}
.div-scroll {
    overflow: scroll;
    height: 50vh;
}